.user {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color:  #27ae60;
}



.team {
    padding: 8px;
    background-color: brown;
}
